*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
    height: 100%;
}
html{
   font-family: "Roboto", serif;
   font-weight: 400;
   font-style: normal;
}
.grid-container{
    scroll-behavior: smooth;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    background-color: beige;
    height: 7rem;
    position: fixed;
    width: 100vw;
    z-index: 1000;/*sin z-index las card se montan sobre el header*/
}
header:hover{
    background-color: rgb(65, 104, 91);
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.item-header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;    
}
.item-header{
    width: 100%;
    background-color: rgb(45, 45, 45);
    color: beige;
    padding: 0.5rem;
    cursor: pointer;
}
.navbar-top{
    display: flex;
    gap: 10px;
}
.navbar-button{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(45, 45, 45);
    cursor: pointer;
}
menu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center; 
    height: 3rem;  
    cursor: pointer; 
}
.menu-link {
    color: rgb(36, 36, 36);
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
  }
  
.menu-link:hover {
    color: #007bff; 
    text-decoration: underline; 
  } 
main{
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    flex: 1 0 auto;
    padding-top: 5rem;
}

.Top-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}
.section-galeria-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; 
}
.card{  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
    z-index: 0;
}
.card:hover {
    transform: translateY(-10px);
    
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.card{
    animation: fadein ease-in;
}
.card-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h2{
    text-align: center;
}
.nuestras-tiendas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;   
}
article h3{
    text-align: center;

}
.tiendas-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.tiendas-img .ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tiendas-img img{

    transition: transform 0.3s ease-in-out;
}
.tiendas-img img:hover{
    transform: translateY(-10px);
}


.top-article{ 
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1rem;
}
footer{
    background-color: rgb(45, 45, 45);
    height: 1rem;
    width: 100vw;   
}
.rrss-link{
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 45);
    gap: 1rem;
    cursor: pointer;   
}
.rrss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 45);
    height: 3rem;
    color: #fff;
    gap: 5px;
    cursor: pointer;
}
.footer-correo{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(45, 45, 45);
    height: 3rem;
    cursor: pointer;
}
@media (orientation:landscape) and (min-width:568px){
        .section-galeria-main{
          display: grid;
          grid-template-columns: repeat(3, 1fr); 
          grid-template-rows: repeat(3, auto);
          grid-template-areas: 
          "header main"
          "footer footer";   
        } 
        body{
            max-height: auto;
        }
    .card img{
        width: 80%;
    }
        footer{
            height: 1rem;
        }
      article{     
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;     
      }
      .tiendas-img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        height: auto;
        width: 90%;  
      }
      .tiendas-img img{
          width: 100%;
          height: 250px;
          object-fit: cover;
      }    
    }
@media(min-width: 768px) and (orientation: landscape){
  
    .grid-container{
        display: grid;
        grid-template-areas: 
        "a b b b"
        "c c c c"
        ;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    body{
        min-height: 100vh;
    }
    header{
        grid-area: a;
        min-height: 100vh;
        width: 25%; 
   
    }
    main{
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        overflow-x: hidden; 
        width: 100%; 
   
        
    }
    .Top-main{
        display: flex;
        justify-content: center;
        align-items: center;
        
        }
    .card img{
        padding: 1rem;
    }
     menu ul {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10rem;   
    }
    ul li{
        padding: 2rem;   
    }
     menu ul li a{
        color: aqua;
    }
    .menu-link{
        font-size: 1.5rem;
    }
    .section-galeria-main{
        height: 70vh;
      
    }
    .nuestras-tiendas{
        width: 100%;
        padding-top: 6rem;
       
    }
    
    .tiendas-img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*grid-template-columns: 250px 250px 250px; */   
    }
    .ubicacion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        grid-area: c;
        margin-top: auto;
    }
    .footer-correo{
        padding-left: 12rem;
    }
    .rrss{
        padding-left: 12rem;
    }   
}
/*
@media(max-width: 1024px) {
   .grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
   
   }
   header{
    grid-area: header;
   }
   main{
    grid-area: main;
  

   }
   footer{
    grid-area: footer;
   }

}
